<%- include('header'); %>

  <h1>Transfer</h1>

  <% if (locals.message) { %>
    <span class="message"><%= message %></span>
  <% } %>
  <span class="error"></span>

  <form method="POST" action="/transfer">
    <label for="from">From Account:</label>
    <select name="from" id="from">
      <option value="savings">Savings ($<%= accounts.savings.balance %>)</option>
      <option value="checking">Checking ($<%= accounts.checking.balance %>)</option>
    </select>
    <br><br>
    <label for="to">To Account:</label>
    <select name="to" id="to">
      <option value="savings">Savings ($<%= accounts.savings.balance %>)</option>
      <option value="checking">Checking ($<%= accounts.checking.balance %>)</option>
    </select>
    <br><br>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount">
    <br><br>
    <button type="submit">Transfer</button>
  </form>

  <br><a href="/">Back to Accounts Summary</a>
  <script src="js/transfer.js"></script>

<%- include('footer'); %>